node_modules/*

ref/*



package-lock.json
.DS_Store*
.DS_store
ref/CSS/user-gesture.css
ref/HTML/01_GeometryAndMaterials.html
ref/HTML/02_Assets.html
ref/HTML/2D.html
ref/HTML/03_ExternalComponent.html
ref/HTML/3D.html
ref/HTML/04_3DModels.html
ref/HTML/05_Text.html
ref/HTML/06_Environment.html
ref/HTML/07_LightAndShadow.html
ref/HTML/08_Camera.html
ref/HTML/09_Sound.html
ref/HTML/10_InteractionAndAnimation.html
ref/HTML/11_CustomComponent.html
ref/HTML/12_UserGesture.html
ref/HTML/index.html
ref/JS/app-with-sockets.js
ref/JS/spinning-effect.js
node_modules/ws/lib/websocket.js
